@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(72, 163, 0, 0.07);
  font-family: 'poppins', sans-serif;
}

main {
  margin: 1rem;
  padding: 0 1rem;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  color: #48a300;
  text-align: center;
}

.title span {
  color: #61481c;
}

.app-container {
  margin-top: 1rem;
  background-color: #fbfbfb;
  max-width: 600px;
  margin-inline: auto;
  border-radius: 16px;
  padding: 32px 48px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}

.sub-title {
  color: #000000;
}

.sun-icon {
  vertical-align: middle;
  margin-left: 1rem;
}

.pro-level {
  color: #858585;
  font-size: 14px;
  margin-top: 2rem;
}

.progress-label {
  margin-top: 1rem;
  height: 30px;
  background: rgba(72, 163, 0, 0.1);
  border-radius: 15px;
}

.progress-value {
  height: 30px;
  max-width: 66.66%;
  background-color: #48a300;
  border-radius: 15px;
  font-size: 10px;
  color: #eeffe0;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.error-label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  color: #ff5151;
  margin-block: 1rem;
}

.goal-container {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  height: 82px;
  display: flex;
  align-items: center;
  margin-bottom: 2.25rem;
  padding: 0 1rem;
}

.check-box {
  width: 1.5rem;
  height: 1.5rem;
  background: #ffffff;
  border: 2px solid rgba(97, 72, 28, 0.3);
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
}

.goal-input {
  border: none;
  outline: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-left: 1rem;
  flex-grow: 1;
  align-self: stretch;
  /* background-color: #ff5151; */
}

.goal-input::placeholder {
  color: #d9d9d9;
}

.move-one {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-bottom: 3rem;
}

.author {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #858585;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .app-container {
    padding: 1rem 2rem;
  }

  .goal-container {
    border-radius: 0.75rem;
    height: 3.5rem;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
  }
  .check-box {
    height: 1.25rem;
    width: 1.25rem;
  }
  .author {
    margin-top: -1.75rem;
  }
}
